*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#0f172a;
color:white;
}

header{
display:flex;
justify-content:space-between;
align-items:center;
padding:25px 8%;
position:fixed;
width:100%;
background:#0f172acc;
backdrop-filter:blur(10px);
}

.logo{
font-size:24px;
font-weight:bold;
}

nav a{
color:white;
text-decoration:none;
margin-left:20px;
}

.hero{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
padding:20px;
}

.hero h1{
font-size:55px;
max-width:700px;
margin:auto;
}

.hero p{
margin-top:20px;
font-size:20px;
color:#cbd5e1;
}

.btn{
display:inline-block;
margin-top:30px;
padding:15px 35px;
background:#3b82f6;
color:white;
text-decoration:none;
border-radius:10px;
}

.section{
padding:120px 8%;
text-align:center;
}

.section h2{
font-size:40px;
margin-bottom:30px;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
margin-top:40px;
}

.card{
background:#1e293b;
padding:30px;
border-radius:15px;
transition:.3s;
}

.card:hover{
transform:translateY(-8px);
}

.card i{
font-size:35px;
margin-bottom:20px;
color:#60a5fa;
}

.whatsapp{
background:#22c55e;
}
